{
  "extends": [
    "@gravity-ui/eslint-config",
    "@gravity-ui/eslint-config/prettier",
    "@gravity-ui/eslint-config/client",
    "@gravity-ui/eslint-config/import-order"
  ],
  "root": true,
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "plugins": [
    "eslint-plugin-absolute-imports"
  ],
  "rules": {
    "absolute-imports/only-absolute-imports": 1,
    "react/react-in-jsx-scope": 0,
    "import/no-default-export": 2,
    "@typescript-eslint/no-unused-vars": 1,
    // Отключил, чтобы в доках не принуждал указывать явно типы параметров.
    // У нас ts, и поэтому указание типов в доках - дублирование информации.
    "valid-jsdoc": 0,

    // Иногда negated-condition позволяет выразить более читабельную конструкцию, когда
    // основную ветку логичнее расположить вверху
    "no-negated-condition": 0
  }
}
