{
  "extends": [
    "@gravity-ui/eslint-config",
    "@gravity-ui/eslint-config/prettier",
    "@gravity-ui/eslint-config/client",
    "@gravity-ui/eslint-config/import-order"
  ],
  "root": true,
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "plugins": [
    "eslint-plugin-absolute-imports"
  ],
  "rules": {
    "absolute-imports/only-absolute-imports": 1,
    "react/react-in-jsx-scope": 0
  }
}
