$block: '.status-row';

#{$block} {
  &:hover {
    background: var(--g-color-base-generic-hover);
  }
}

.statusPageTable .g-table__cell {
  text-align: center;
}

.statusPageTable .lineBrake {
  white-space: unset;
  word-spacing: 100vw;
}

.colored {
  background-color: #00ff00;
}
